@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply custom-scrollbar;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}

body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
}

.App-header {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 500px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #629eff;
}
